.database {
    background-color: #2a2a2a;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin-bottom: 20px;
    margin-top: 50px;
    border: 2px solid #4e4d4d;
}

.sectionTitle {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
    color: #e0e0e0;
}

.skillsGrid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.skillCard {
    flex: 1;
    max-width: 200px;
    background-color: #4a4a4a;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    margin: 5px;
}

.skillCardImage {
    width: 60%;
    height: auto;
    border-radius: 5px;
    margin-top: 5px;
}

.skillCardTitle {
    font-size: 1.3em;
    color: #e0e0e0;
}

@media (min-width: 768px) {
    .database {
        margin-bottom: 20px;
        margin-top: 50px;
    }

    .sectionTitle {
        font-size: 2em;
    }

    .skillCard {
        max-width: 200px;
    }
}

@media (min-width: 1200px) {
    .database {
        margin-bottom: 20px;
        margin-top: 50px;
    }

    .sectionTitle {
        font-size: 2em;
    }

    .skillCard {
        max-width: 200px;
    }
}