.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    gap: 20px;
    background-color: #2a2a2a;
    border-radius: 20px;
    padding: 10px;
    border: 2px solid #4e4d4d;
    margin: 20px;
}

.profileImage {
    width: 80%;
    height: auto;
    border-radius: 50%;
    margin: 20px 0;
}

.profileInfo {
    width: 100%;
    text-align: center;
}

.headerTitle {
    font-size: 2em;
    margin: 0;
    color: #b0b0b0;
}

.headerText {
    font-size: 1em;
    color: #b0b0b0;
}

.headerLink {
    color: #1e90ff;
    text-decoration: none;
}

.headerLink:hover {
    color: #63a4ff;
}

@media (min-width: 768px) {
    .header {
        flex-direction: row;
        height: 70vh;
        margin: 50px;
    }

    .profileImage {
        width: 30%;
        margin-left: 70px;
    }

    .profileInfo {
        width: 60%;
        margin-right: 40px;
    }

    .headerTitle {
        font-size: 3em;
    }

    .headerText {
        font-size: 1.2em;
    }
}

@media (min-width: 1200px) {
    .header {
        margin: 90px;
        margin-bottom: 150px;
    }

    .headerTitle {
        font-size: 4em;
    }

    .headerText {
        font-size: 1.5em;
    }
}